.contenedor-login{
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
    align-items: center;
    justify-content: center;

}